for loop basics

In [1]:
range(5)

range(0, 5)

for <var> in <iteration>:
    body

In [11]:
a="Loops"

In [12]:
for char in a:
    print(char)

L
o
o
p
s

In [10]:
for char in "Loops":
    print (char)

L
o
o
p
s

In [14]:
for num in [1,2,3]:
    print (num)

1
2
3

In [16]:
for num in (1,2,3):
    print (num)

1
2
3

#iteration over dictionaries:
->keys 
->values

In [22]:
for key in {"a":1,"b":2}:
    print(key)

a
b

this will jump 2 :

In [27]:
for i in range (4,8,2):
    print (i)

4
6

In [ ]:
this will jump 4:

In [29]:
for i in range(10,22,3):
    print (i)

10
13
16
19

In [33]:
contacts = {"Nora": "053-342-232",
            "Jack": "342-342-123",
            "Gino": "672-343-564"}
 
for contact in contacts:
    if contact[0] == "G":
        print("Found Gino!")

Found Gino!

how to iterate over the characters in a string

In [34]:
s= " hello,world!"
for char in s[2:9:2] :
    print(char)

h
e
l
l
o
,
w
o
r
l
d
!

In [35]:
s= " hello,world!"
for char in s[2:9:2] :
    print(char)

e
l
,
o

this will convert upper case to lower case

In [36]:
s="Learning Loops"
new_str=""
for char in s:
    if char.isupper():
        new_str +=char.lower()
print(new_str)

ll

conver all lower case to upper case

In [38]:
new_str=""
for char in s:
    if char.islower():
        new_str +=char.upper()
print(new_str)

EARNINGOOPS

first convert all characters to lower case then convert to upper case and vise vasa

In [39]:
new_str=""
for char in s:
    if char.isupper():
        new_str +=char.lower()
    else:
         new_str +=char.upper()
        
print(new_str)

lEARNING lOOPS

In [ ]:
# remove duplicated from list

In [42]:
s="aabbccddeffghhii"
new_str=[]

for i in s:
    if i not in new_str : 
        new_str.append(i)

In [43]:
print(new_str)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

In [ ]:
#iterating through characters

In [48]:
s="aabbccddeffghhii"
new_str=""

for char in s:
    if not char in new_str:
        new_str +=char
print(new_str)

abcdefghi

In [59]:
s="aabbccddeffghhii"
new_str=""

for char in s:
    char=char.upper()
    if not char in new_str:
        new_str +=char
print(new_str)

ABCDEFGHI

In [57]:
text = "Random String"
text = text.upper() #Can also do 
print(text)

RANDOM STRING

In [ ]:
Iterating over a list and tupple

In [62]:
nums=[1,2,3,4,5]

for num in nums: 
    print(nums)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

lists are mutable

In [63]:
 a = [1, 2, 3, 4, 5]
for num in a:
    a.remove(num)

In [64]:
print(a)

[2, 4]

Two elements were not removed!

trange, right? The list is mutated in each iteration, so the elements are not being removed like we expected.

This occurs because calling .remove() mutates (changes) the original list in memory and the internal "tracker" used to iterate over the list in the loop is changed as well, so the element that used to be the next element in the list is not the next element after this change.

Solution

One alternative to get the expected behavior of the loop is to make a copy of the list with a[:] and iterating over this copy instead of the original list. The change would still have to be made to the original list a.

In [66]:
 a = [1, 2, 3, 4, 5]
for num in a[:]:
    a.remove(num)
print(a)

[]

In [69]:
chemical_elements={
    "Hydrogen":"H",
    "Helium":"He",
    
}

for key in chemical_elements:
    print(key)

Hydrogen
Helium

In [70]:
for i in chemical_elements.values():
    print(i)

H
He

In [71]:
print(list(chemical_elements.items()))

[('Hydrogen', 'H'), ('Helium', 'He')]

In [72]:

for key,value in chemical_elements.items():
    print(key,value)

Hydrogen H
Helium He

The keys() Method
Return a new view of the dictionary’s keys.

🔹 The values() Method
Return a new view of the dictionary’s values.

🔸 The items() Method
Return a new view of the dictionary’s items ((key, value) pairs).

In [73]:
for food in {"Pizza", "Ice Cream", "Donuts"}:
      print("I really like", food)

I really like Pizza
I really like Donuts
I really like Ice Cream

In [74]:
for num in [1,2,3,4]:
    print (num)

1
2
3
4

In [75]:
for num in (1,2,3,4):
    print(num)

1
2
3
4

In [77]:
for num in {1,2,3,4}:
  print(num)

1
2
3
4

In [ ]:
print(my_list)

In [ ]:
my_list = [5, 6, 7, 8]
 
for num in my_list:
    my_list.append(num + 1)
print(my_list)

In [ ]:
dessert_calories = {"Ice Cream": 267, "Pudding": 288, "Brownie": 243}
 
for dessert, calories in dessert_calories.items():
    print(dessert, "has:", calories, "calories")

In [ ]:
num_sales = {"store1": 45,
             "store2": 67,
             "store3": 10,
             "store4": 156,
             "store5": 24}
list(num_sales.keys())

In [ ]:
num_sales = {"store1": 45,
             "store2": 67,
             "store3": 10,
             "store4": 156,
             "store5": 24}


list(num_sales.items())

In [79]:
s = "coding"
x = slice(2, 4)
print(s[x])

di

In [84]:
for i in s[2,4]:
    print(i)

TypeError: string indices must be integers

In [ ]:
Coding Exercise: Update Prices
Welcome to this coding exercise.

A pizza shop has asked you to update the prices of all the types of pizzas. The data is stored in a dictionary that associates the names of the pizzas to their prices.

- Your task is to use a for loop to iterate over the pizzas_prices dictionary and increment the prices by 15%.

This is the initial dictionary:

pizza_prices = {
        "Cheese Pizza": 11.99,
        "Pepperoni Pizza": 14.99,
        "BBQ Chicken Pizza": 13.99,
        "Hawaiian Pizza": 12.99,
        "Meat Pizza": 16.99
    }
- The new prices must be rounded to 2 decimal places before assigning them to the dictionary.